.user_form_div {
    width: 35%; 
    margin-left: auto; 
    margin-right: auto; 
    display: grid; 
    grid-template-columns: .5fr 1.5fr;
    row-gap: 10px;
}

main {
    width: 60%; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 10%;    
}

header { 
    text-align: center;
}

.delete_button { 
    margin-top: 3%; 
}



.post_form {
    width: 50%; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 5%;
    display: grid; 
    grid-template-columns: .4fr 1.6fr; 
    row-gap: 10px; 
 }

.post_form button {
      grid-column: 2
}


.post-container {
    margin-left: 10%;
    margin-top: 20%;
}

.controls a, .controls a:hover, .controls a:visited, .controls a:active {
    text-decoration: none;
    color: black;
}

.control_block {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
}

.controls a {
    display: block;
    width: 100%;
}
.control_block form button{
    width: 100%;
}

.image-url {
    max-width: 250px;
    max-height: auto;
}

.cancel_button {
    background-color: red;
}

